<!DOCTYPE html>
<html>
<head>
    <title>Checkout</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/styles.min.css">
    <!-- TODO remove la ligne dessous c'est juste pour dev -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/styles.css">
</head>
<body>
{{> header}}
    <div class="container">
    	<div class="row">
    		<h1>Confirmation des inforamtions</h1>

    		<div class="col-md-8 boxContent">
    			<div class="clearfix boxInfoClient">
    				<div class="pull-left">
    					<h2>Information personnel</h2>
    				</div>

    				<div class="pull-right">
    					<h2>Adresse</h2>

    					<ul>
    						<li>
    							205, rue Fausse <span id="nbAppart"></span>
    						</li>
    						<li>
    							Ville : GhostCity
    						</li>
    						<li>
    							Province : Québec
    						</li>
    						<li>
    							Code postal : J6U P4F
    						</li>
    					</ul>
    				</div>
    			</div>
    		</div>
    		
    		<div class="col-md-8 boxContent">
    			<div class="boxSpectacle clearfix">
    				<div class="boxImg pull-left">
    					<img class="coming-up-thumbnail" src="images/bond.jpg" />
    				</div>

    				<div class="boxText pull-left">
    					<div class="title">Lorem Ipsum</div>
						<div class="date">November 3, 1971</div>
						<div class="location">Montreal</div>
    				</div>

    				<div class="boxNb pull-left">
    					<label>
    						nombre de billet : <br/>
    						1
    					</label>
    				</div>

    				<div class="boxPrice pull-right">
    					<p>68 $</p>
    				</div>
    			</div>

    			<div class="boxSpectacle clearfix">
    				<div class="boxImg pull-left">
    					<img class="coming-up-thumbnail" src="images/bond.jpg" />
    				</div>

    				<div class="boxText pull-left">
    					<div class="title">Lorem Ipsum</div>
						<div class="date">November 3, 1971</div>
						<div class="location">Montreal</div>
    				</div>

    				<div class="boxNb pull-left">
    					<label>
    						nombre de billet : <br/>
    						1
    					</label>
    				</div>

    				<div class="boxPrice pull-right">
    					<p>68 $</p>
    				</div>
    			</div>

    			<div class="boxSpectacle clearfix">
    				<div class="boxImg pull-left">
    					<img class="coming-up-thumbnail" src="images/bond.jpg" />
    				</div>

    				<div class="boxText pull-left">
    					<div class="title">Lorem Ipsum</div>
						<div class="date">November 3, 1971</div>
						<div class="location">Montreal</div>
    				</div>

    				<div class="boxNb pull-left">
    					<label>
    						nombre de billet : <br/>
    						1
    					</label>
    				</div>

    				<div class="boxPrice pull-right">
    					<p>68 $</p>
    				</div>
    			</div>

                <div class="boxTotal pull-right">
                    <p>Total : <span id="montantTotal"> 204 </span>$</p>

                    <div class="clearfix">
                    	<div class="pull-right">
                    		<a href="/confirmation" class="btn btn-primary">Confirmer</a>
                    	</div>

                    	<div class="pull-right">
                    		<a href="/cart" class="btn btn-default">Annulation</a>
                    	</div>
                    </div>
                    
                </div>
    		</div>

    		<div class="col-md-4">

    		</div>
    	</div>
    </div>
{{> footer}}
<script src="https://use.fontawesome.com/edcbf207df.js"></script>
</body>
</html>