<!DOCTYPE html>
<html>
<head>
    <title>Confirmation</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/styles.min.css">
    <!-- TODO remove la ligne dessous c'est juste pour dev -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/styles.css">
</head>
<body>
    {{> header}}
        <div class="container">
        	<div class="row">
        		<h1>Confirmation de l'achat</h1>

        		<p>Voici le numéro de confirmation : <span>felicationdulachatbo739302-28483448</span></p>
        		<div class="col-md-8 boxContent">
	    			<div class="boxSpectacle clearfix">
	    				<div class="boxImg pull-left">
	    					<img class="coming-up-thumbnail" src="images/bond.jpg" />
	    				</div>

	    				<div class="boxText pull-left">
	    					<div class="title">Lorem Ipsum</div>
							<div class="date">November 3, 1971</div>
							<div class="location">Montreal</div>
	    				</div>

	    				<div class="boxNb pull-left">
	    					<label>
	    						nombre de billet : <br/>
	    						1
	    					</label>
	    				</div>

	    				<div class="boxPrice pull-right">
	    					<p>68 $</p>
	    				</div>
	    			</div>

	    			<div class="boxSpectacle clearfix">
	    				<div class="boxImg pull-left">
	    					<img class="coming-up-thumbnail" src="images/bond.jpg" />
	    				</div>

	    				<div class="boxText pull-left">
	    					<div class="title">Lorem Ipsum</div>
							<div class="date">November 3, 1971</div>
							<div class="location">Montreal</div>
	    				</div>

	    				<div class="boxNb pull-left">
	    					<label>
	    						nombre de billet : <br/>
	    						1
	    					</label>
	    				</div>

	    				<div class="boxPrice pull-right">
	    					<p>68 $</p>
	    				</div>
	    			</div>

	    			<div class="boxSpectacle clearfix">
	    				<div class="boxImg pull-left">
	    					<img class="coming-up-thumbnail" src="images/bond.jpg" />
	    				</div>

	    				<div class="boxText pull-left">
	    					<div class="title">Lorem Ipsum</div>
							<div class="date">November 3, 1971</div>
							<div class="location">Montreal</div>
	    				</div>

	    				<div class="boxNb pull-left">
	    					<label>
	    						nombre de billet : <br/>
	    						1
	    					</label>
	    				</div>

	    				<div class="boxPrice pull-right">
	    					<p>68 $</p>
	    				</div>
	    			</div>

	                <div class="boxTotal pull-right">
	                    <p>Total : <span id="montantTotal"> 204 </span>$</p>	                    
	                </div>

	                <div class="boxTotal pull-left">
	                    <a href="#" class="btn btn-default">Partager sur le réseaux sociaux</a>                 
	                </div>
	    		</div>

	    		<div class="col-md-4">

	    		</div>
	    	</div>
        </div>
    {{> footer}}
<script src="https://use.fontawesome.com/edcbf207df.js"></script>
</body>
</html>