<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/styles.min.css">
	<!-- TODO remove la ligne dessous c'est juste pour dev -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/styles.css">
</head>
<body>
    {{> header}}
	<div class="container">
		<div class="row">
			<div class="slideshow">
				<ul>
					<li>
						<div class="images-preview">
							<a href="/details"><img src="images/the-1975.jpg"></a>
							<div class="slideshow-text">
								<div class="date">Montreal - November 3, 1971</div>
								<a class="title" href="/details">Lorem Ipsum</a>
								<div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis, lectus sit amet tempor imperdiet, augue orci euismod ante, in interdum dui libero at felis. Quisque augue ipsum, commodo ut sem vel, tincidunt maximus elit. Mauris finibus viverra libero, in maximus eros tempus ut. Nunc nec molestie justo, vel hendrerit tortor. Vivamus semper eu ex et varius.</div>
							</div>
						</div>
					</li>
					<li>
						<div class="images-preview">
                            <a href="/details"><img src="images/jean-michel.jpg"></a>
							<div class="slideshow-text">
								<div class="date">Montreal - November 3, 1971</div>
								<a class="title" href="/details">Lorem Ipsum</a>
								<div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis, lectus sit amet tempor imperdiet, augue orci euismod ante, in interdum dui libero at felis. Quisque augue ipsum, commodo ut sem vel, tincidunt maximus elit. Mauris finibus viverra libero, in maximus eros tempus ut. Nunc nec molestie justo, vel hendrerit tortor. Vivamus semper eu ex et varius.</div>
							</div>
						</div>
					</li>
				</ul>
				<div class="left switch-slideshow">
					<i class="fa fa-chevron-left fa-3x"></i>
				</div>
				<div class="right switch-slideshow">
					<i class="fa fa-chevron-right fa-3x"></i>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="coming-up-list">
					<div class="coming-up-header">À venir</div>
					<div class="comig-up-events">
						<div class="coming-up-container">
                            <a href="/details">
                            	<img class="coming-up-thumbnail" src="images/the-weekend.jpg">
                           	</a>
							
							<div class="info">
								<a href="/details" class="title">Lorem Ipsum</a>
								<div class="date">November 3, 1971</div>
								<div class="location">Montreal</div>
							</div>
						</div>
						
						<div class="coming-up-container">
                            <a href="/details">
                            	<img class="coming-up-thumbnail" src="images/bond.jpg">
                            </a>
							
							<div class="info">
                                <a href="/details" class="title">Lorem Ipsum</a>
								<div class="date">November 3, 1971</div>
								<div class="location">Montreal</div>
							</div>
						</div>
						
						<div class="coming-up-container">
                            <a href="/details">
                            	<img class="coming-up-thumbnail" src="images/the-weekend.jpg">
                            </a>
							
							<div class="info">
								<a href="/details" class="title">Lorem Ipsum</a>
								<div class="date">November 3, 1971</div>
								<div class="location">Montreal</div>
							</div>
						</div>
						
						<div class="coming-up-container">
							<a href="/details">
								<img class="coming-up-thumbnail" src="images/bond.jpg">
							</a>
							
							<div class="info">
								<div class="title">Lorem Ipsum</div>
								<div class="date">November 3, 1971</div>
								<div class="location">Montreal</div>
							</div>
						</div>
						
						<div class="coming-up-container">
							<a href="/details">
								<img class="coming-up-thumbnail" src="images/bond.jpg">
							</a>
							
							<div class="info">
								<div class="title">Lorem Ipsum</div>
								<div class="date">November 3, 1971</div>
								<div class="location">Montreal</div>
							</div>
						</div>
						
						<div class="coming-up-container">
							<a href="/details">
								<img class="coming-up-thumbnail" src="images/bond.jpg">
							</a>
							
							<div class="info">
								<div class="title">Lorem Ipsum</div>
								<div class="date">November 3, 1971</div>
								<div class="location">Montreal</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="advertisement-home">
					<img src="images/fake-add.jpg">
				</div>
			</div>
		</div>
	</div>
    {{> footer}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="js/script.js"></script>
    <script src="js/slide-show.js"></script>
	<script src="https://use.fontawesome.com/edcbf207df.js"></script>
</body>
</html>