<!DOCTYPE html>
<html>
<head>
    <title>Search</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/styles.min.css">
    <!-- TODO remove la ligne dessous c'est juste pour dev -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/styles.css">
</head>
<body>
    {{> header}}
        <div class="container">
            <div class="row">
            	<h1 class="coming-up-header">Résultat de la recherche</h1>

            	<div class="col-md-8">
	            	<div class="coming-up-list">
	            		<div class="comig-up-events">
			                <div class="coming-up-container">
								<a href="/details">
									<img class="coming-up-thumbnail" src="images/bond.jpg">
								</a>

								<div class="info">
									<div class="title">Lorem Ipsum</div>
									<div class="date">November 3, 1971</div>
									<div class="location">Montreal</div>
								</div>
							</div>

							<div class="coming-up-container">
								<a href="/details">
									<img class="coming-up-thumbnail" src="images/bond.jpg">
								</a>

								<div class="info">
									<div class="title">Lorem Ipsum</div>
									<div class="date">November 3, 1971</div>
									<div class="location">Montreal</div>
								</div>
							</div>

							<div class="coming-up-container">
								<a href="/details">
									<img class="coming-up-thumbnail" src="images/bond.jpg">
								</a>

								<div class="info">
									<div class="title">Lorem Ipsum</div>
									<div class="date">November 3, 1971</div>
									<div class="location">Montreal</div>
								</div>
							</div>

							<div class="coming-up-container">
								<a href="/details">
									<img class="coming-up-thumbnail" src="images/bond.jpg">
								</a>

								<div class="info">
									<div class="title">Lorem Ipsum</div>
									<div class="date">November 3, 1971</div>
									<div class="location">Montreal</div>
								</div>
							</div>

							<div class="coming-up-container">
								<a href="/details">
									<img class="coming-up-thumbnail" src="images/bond.jpg">
								</a>

								<div class="info">
									<div class="title">Lorem Ipsum</div>
									<div class="date">November 3, 1971</div>
									<div class="location">Montreal</div>
								</div>
							</div>

							<div class="coming-up-container">
								<a href="/details">
									<img class="coming-up-thumbnail" src="images/bond.jpg">
								</a>
								
								<div class="info">
									<div class="title">Lorem Ipsum</div>
									<div class="date">November 3, 1971</div>
									<div class="location">Montreal</div>
								</div>
							</div>
						</div>
					</div>
	            </div>

	        	<div class="col-md-4">
		        	<p>Recherche avancée</p>

		        	<form id="form_more">
		        		<div class="boxInput">
		        			<label>
		        				<span></span>
		        				<input type="text" name="" value="" />
		        			</label>
		        		</div>
		        	</form>
		        </div>
	        </div>
        </div>
    {{> footer}}
    <script src="https://use.fontawesome.com/edcbf207df.js"></script>
</body>
</html>
