@import "_slideshow.scss";
@import "_coming-up.scss";
@import "_details.scss";

@import "_panier.scss";
@import "_credit.scss";

body {
	min-height: 100%;
	width: 100%;

	.advertisement-home {
		margin-top: 40px;

		img {
			height: 100%;
			width: 100%;
		}
	}
}