$input-height: 40px;
$light-gray-background: #f2f2f2;

.connection-content {
  background-color: $light-gray-background;
  width: 60%;
  margin: 50px auto;

  .button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    #connect-reseau {
      margin: 20px auto 40px;
      height: 40px;
    }
  }


  p {
    text-align: center;
  }

  form {
    width: 80%;
    margin: 40px auto;

    input {
      display: inline-block;
      border-radius: 5px;
      border: 1px solid hsla(0, 0, 0, 0.3);
      height: $input-height;
      padding: 5px;
      width: 100%;
    }

    select {
      height: $input-height;
      border-radius: 5px;
      border: 1px solid hsla(0, 0, 0, 0.3);
      width: 100%;
    }

    .line-item {
      margin: 10px 0px;
      width: 100%;
      height: $input-height;

      input {
        width: 100%;
      }
    }

    .single-item {
      margin: 10px 0px;
      width: 100%;
      height: $input-height;
      padding: 0px 15px;
    }

    #button-submit {
      margin-top: 20px;
      margin-left: 15px;
      width: calc(100% - 30px);
    }
  }
}
