<header>
    <div class="col-md-8 left">
        <div class="logo">LOGO ICI</div>
        <div class="search-group">
            <input  class="form-control" type="text" placeholder="Search">
            <a href="/search"><i class="fa fa-search search-icon fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="col-md-4 right">
        <a class="header-link" href="/">Accueil</a>
        <a href="/cart"><i class="fa fa-shopping-cart fa-3x cart" aria-hidden="true"></i></a>
    </div>
</header>